<!DOCTYPE html>
<html lang="en">
    <div id="admin-navbar">
        <div class="vertical-bar">
            <nav>
                <ul class="navMenu-vertical">
                    <li id="new-post"><a href="/admin-panel/dodaj-post">Dodaj Post</a></li>
                    <li id="new-concert"><a href="/admin-panel/dodaj-wydarzenie">Dodaj Koncert</a></li>
                    <li id="edit-bandMembers"><a href="/admin-panel/zespol">Członkowie zespołu</a></li>
                    <li id="edit-links"><a href="/admin-panel/linki">Edytuj linki</a></li>
                </ul>
            </nav>
        </div>
    </div>
</html>