<!DOCTYPE html>
<html lang="pl">
    <head id="head">
        <!-- head content -->
    </head>
    <body>
        <header class="header">
            <div id="navbar"></div>
        </header>
        <div id="pageContainer">
            <div class="banner">
                <img src="/images/home/banner.png"/>
                <h3>
                    Już nie najmłodsi, ale wciąż niezbyt mądrzy. Mówią o sobie, że wykonują glamcore/sexpop.
                    Dlaczego glamcore? Bo łączą miłość do hitów lat 80. z sympatią do nowoczesnych, ciężkich brzmień.
                    A czemu sexpop? Tego do końca nie wiedzą nawet oni, więc musicie przyjść na koncert i przekonać się sami.
                </h3>
            </div>

            <section id="container-posts">
                <!-- posts content -->
            </section>


            <section id="band">
                <!-- band content -->
            </section>


            <section id="concerts">
                <!-- concerts content -->
            </section>

            <div class="clear"></div>
            <div id="music">
                <div id="music-container">
                    <div class="column left">
                        <div class="hidden blurred">
                            <a target="_blank" href="https://open.spotify.com/artist/7dt9fqOssCA6iWkMl5xrTA">
                                <img src="/images/home/spotyfy.png">
                            </a>
                        </div>
                        <div class="clear"></div>
                        <div class="hidden blurred">
                            <a target="_blank" href="https://music.youtube.com/channel/UCvlGfaiD5VGGIez40jaxt7Q">
                                <img src="/images/home/yt music.png">
                            </a>
                        </div>
                    </div>
                    <div class="column right">
                        <div class="filler"></div>
                        <div class="hidden blurred">
                            <a href="#">
                                <img src="/images/home/tidal.png">
                            </a>
                        </div>
                        <div class="clear"></div>
                        <div class="hidden blurred">
                            <a href="#">
                                <img src="/images/home/apple music.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <!-- footer content -->
        </div>
    </body>
</html>