<!DOCTYPE html>
<html lang="en">
    <head id="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="oto długi lecz nie za długi opis strony.">
        <meta name="keywords" content ="Muzyka, Zespół muzyczny, Freaks' Elite, Rock, Hard Rock, Metal">
        <meta name="author" content="Freaks' Elite">
        <link rel="stylesheet" href="/css/style.css">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <link id="favicon" rel="shortcut icon" type="image/ico" href="/images/common/favicon.ico">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Jockey+One&display=swap" rel="stylesheet">
        <script defer src="/js/popup.js"></script>
        <script defer src="/js/animation.js"></script>
        <title>Freaks' Elite Official</title>
    </head>
</html>