<!DOCTYPE html>
<html lang="pl">
    <div id="navbar" class="navbar">
        <nav>
            <ul class="navMenu">
                <li><a id="news" href="/newsy">Newsy</a></li>
                <li><a id="koncerty" href="/koncerty">Koncerty</a></li>
                <li style="background-color: transparent !important">
                    <a style="padding: 0;margin: 0 60px;" id="home" href="/">
                        <img class="btn-logo" src="/images/common/favicon.ico" height="48" width="48">
                    </a>
                </li>
                <li><a href="/#band" >Zespół</a></li>
                <li><a id="music" href="/muzyka">Muzyka</a></li>
                <li><a id="contact" href="/kontakt">Kontakt</a></li>
<!--                <li><a id="gallery" href="/galeria">Galeria</a></li>-->
                <li><a id="adminPanel" href="/admin-panel">Ustawienia</a></li>
                <li><a id="logout" href="/logout">Wyloguj</a></li>
            </ul>
        </nav>
    </div>
</html>