<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head id="head">
        <!-- head content -->
    </head>
    <body>
    <header class="header">
        <div id="navbar"></div>
    </header>
    <div id="pageContainer">
        <div id="admin-navbar">
            <!-- admin navbar fragment -->
        </div>
        <div id="admin-forms">
            <div class="form">
                <form id="admin-form" method="post" th:action="@{${action}}" th:object="${concertDto}">
                    <p>Data</p>
                    <input id="date" type="datetime-local" name="date" th:field="*{date}">
                    <p class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></p>
                    <p>Nazwa wydarzenia</p>
                    <input id="event-name" type="text" name="event-name" th:field="*{eventName}">
                    <p>link do wydarzenia</p>
                    <input id="url" name="url" type="text" th:field="*{eventUrl}">
                    <p class="text-danger" th:if="${#fields.hasErrors('eventUrl')}" th:errors="*{eventUrl}"></p>
                    <p>Miejsce</p>
                    <input id="spot" name="spot" type="text" th:field="*{spot}">
                    <p>Adres</p>
                    <input id="street" name="url" type="text" th:field="*{street}">
                    <p class="text-danger" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></p>
                    <p>Miasto</p>
                    <input id="city" name="url" type="text" th:field="*{city}">
                    <p class="text-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <button class="black-button" id="submit" type="submit">Zatwierdź</button>
                </form>
            </div>
        </div>
    </div>
    <div id="footer">
        <!-- footer content -->
    </div>
    </body>
</html>