<!DOCTYPE html>
<html lang="en" th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head id="head">
    <!-- head content -->
</head>
<body>
<header class="header">
    <div id="navbar"></div>
</header>
<div id="pageContainer">
    <div id="admin-navbar">
        <!-- admin navbar fragment -->
    </div>
    <div id="admin-forms">
        <div class="form">
            <div class="success-box">
                <i class="success"></i>
                <p class="text-success" th:text="${info}">default text</p>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <!-- footer content -->
</div>
</body>
</html>